@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Dancing+Script:wght@500&family=Darker+Grotesque:wght@500&family=EB+Garamond&family=Kenia&family=Montserrat:wght@500&family=Nunito+Sans&family=Poppins&family=Quicksand:wght@500&family=Tinos&family=Ubuntu&family=Zilla+Slab:wght@500&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}
html,
body{
  scroll-behavior: smooth;
    background-color: #F9F871;
  }
  /*========= scroll left =========*/
body::-webkit-scrollbar {
  width: 15px;
}
body::-webkit-scrollbar-track {
  background-color: #F9F871;
}
body::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, blue, rgb(247, 48, 48), #f9f871);
  border-radius: 10px;
}
  
/* body {
    background: url("./images/blue-bg.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;   
} */
.head{
  background-color: #030A04;
}
.main-item{
    background-image: url('./images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    
}
.iwin{
    background-color: #0000ff7e!important;
}

/* slide2 */
.slider {
    background: #ffe70c;
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
}
/* .slider::before, .slider::after {
    background: linear-gradient(to right, #4c8ef2 0%, rgba(27, 2, 2, 0) 50%);
    content: "";
    height: 100%;
    position: absolute;
    width: 100px;
    z-index: 2;
} */
.slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}
.slider::before {
    left: 0;
    top: 0;
}
.slider .slide-track {
    animation: scroll 80s linear infinite;
    display: flex;
    width: calc(250px * 18);
}
.slider .slide-track:hover {
    animation-play-state: paused;
}
.slider .slide {
    height: 100%;
    /* width: 100% */
    border: 5px solid #ffe70c;    
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 9));
    }
}
/* iwin88 animation */
  .flip-animation {
    display: flex;
    justify-content: center;
    transform: translate3d(0,0,0);
  }
  .flip-animation > span {
    font-size: 2rem;
    animation: flipping 2s infinite;
    font-weight: bold;
  }
  .flip-animation > span:nth-child(1) {
    animation-delay: 0.2s;
  }
  .flip-animation > span:nth-child(2) {
    animation-delay: 0.4s;
  }
  .flip-animation > span:nth-child(3) {
    animation-delay: 0.6s;
  }
  
  .flip-animation > span:nth-child(4) {
    animation-delay: 0.8s;
  }
  
  .flip-animation > span:nth-child(5) {
    animation-delay: 1s;
  }
  
  .flip-animation > span:nth-child(6) {
    animation-delay: 1.2s;
  }
  
  @keyframes flipping {
    0%, 80% {
      transform: rotateY(360deg);
    }
  }
/* head-logo */
.flip-animation {
  display: flex;
  justify-content: center;
  transform: translate3d(0,0,0);
}

.flip-animation > p {
  font-size: 1.5rem;
  font-weight: bold;
  animation: flipping 2s infinite;
}

.flip-animation > p:nth-child(1) {
  animation-delay: 0.2s;
}

.flip-animation > p:nth-child(2) {
  animation-delay: 0.4s;
}

.flip-animation > p:nth-child(3) {
  animation-delay: 0.6s;
}

.flip-animation > p:nth-child(4) {
  animation-delay: 0.8s;
}

.flip-animation > p:nth-child(5) {
  animation-delay: 1s;
}

.flip-animation > p:nth-child(6) {
  animation-delay: 1.2s;
}

@keyframes flipping {
  0%, 80% {
    transform: rotateY(360deg);
  }
}
/* footer-logo */
.flip-animation {
  display: flex;
  justify-content: center;
  transform: translate3d(0,0,0);
}

.flip-animation > span {
  font-size: 2.5rem;
  animation: flipping 2s infinite;
}

.flip-animation > span:nth-child(1) {
  animation-delay: 0.2s;
}

.flip-animation > span:nth-child(2) {
  animation-delay: 0.4s;
}

.flip-animation > span:nth-child(3) {
  animation-delay: 0.6s;
}

.flip-animation > span:nth-child(4) {
  animation-delay: 0.8s;
}

.flip-animation > span:nth-child(5) {
  animation-delay: 1s;
}

.flip-animation > span:nth-child(6) {
  animation-delay: 1.2s;
}

@keyframes flipping {
  0%, 80% {
    transform: rotateY(360deg);
  }
}